<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>

        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
        
        <title>Welcome to Spring Web MVC project</title>
    </head>

    <body>
        <div class="container">
            <h1> Agentes De Transito </h1>
            <a href="/" class="btn btn-primary">Regresar</a>
            <a href="create-agent" class="btn btn-primary">Nuevo Agente</a>
            <table id="agents" class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDO</th>
                        <th scope="col">AÑOS DE EXPERIENCIA</th>
                        <th scope="col">SECRETARIA ASIGNADA</th>
                        <th scope="col">VÍA ASIGNADA</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                        <tr th:each="agent : ${agents}">
                            <th scope="row" th:text="${agent.id}"></th>
                            <td th:text="${agent.name}"></td>
                            <td th:text="${agent.lastName}"></td>
                            <td th:text="${agent.yearsExperience}"></td>
                            <td th:text="${agent.secretary.id + ' - ' + agent.secretary.name}"></td>
                            <td th:text="${agent.currentTrack.id + ' - ' + agent.currentTrack.type + ' - ' + agent.currentTrack.streetOrCarrer  + ' - ' + agent.currentTrack.number  + ' - ' + agent.currentTrack.levelCongestion }"></td>
                            <td>
                                <a th:href="@{'/agent-and-tracks/'+ ${agent.id}}" class="btn btn-primary">Historial</a>
                                
                                <a th:href="@{'/edit-agent/'+ ${agent.id}}" class="btn btn-warning">Editar</a>
                                
                                <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${agent.id} +'\');'" class="btn btn-danger">Eliminar</a>

                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
        
        <div th:include="agent/confirm-delete-dialog.html" th:remove="tag"></div>
        
        <script type="text/javascript">

            $(document).ready(function () {
                $("#agents").DataTable({

                    language: {
                        "decimal": "",
                        "emptyTable": "No hay agentes registrados",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },

                    "processing": true,

                });
            });
            
            function confirmDelete(id){
            	$('#deleteModal').modal('show');
            	$("#userIdHiddenInput").val(id);
            }

            function deleteUser(){
            	var id = $("#userIdHiddenInput").val();
                window.location = "delete-agent/"+id;
            }

        </script>
            
    </body>
</html>